body,
body * {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #428ba1;
}
main {
  margin: 1.2em auto;
  padding-top: 0.8em;
  background-color: #f8f9f9;
  text-align: center;
  width: 90%;
  min-width: 500px;
  max-width: 90%;
  font-size: 1em;
  border-radius: 1em;
  box-shadow: 1px 1px 1px #313332;
}
h1 {
  font-size: 3em;
  color: #428ba1;
  text-shadow: 1px 1px 0px #313332;
}

button {
  padding: 0.1em;
  margin: 0.1em;
  border-radius: 0.4em;
  height: 3.5em;
  width: 3.5em;
  color: white;
  font-size: 1em;
}

.done:hover {
  background-color: #17703c;
  transition: 0.3s;
}

.delete {
  background-color: #cd6155;
}

.delete:hover {
  background: #a04b41;
  transition: 0.3s;
}

.done {
  padding: 0.1em;
  margin: 0.1em;
  border-radius: 0.4em;
  height: 3.5em;
  width: 3.5em;
  color: white;
  font-size: 1em;
  background-color: #27ae60;
}
#todo-container {
  width: 100%;
}
form {
  display: block;
  width: 100%;
}
ul {
  display: block;
  text-align: left;
  width: 100%;
  padding: 0 0.2em;
}

ul li {
  list-style-type: none;
  list-style-position: inside;
  border: 1px solid #cacfd2;
  border-radius: 0.5em;
  padding: 0.2em 0 0.2em 0.2em;
  margin: 0.2em auto;
}
span {
  font-size: 1.6em;
  padding: 0.4em;
  width: 70%;
  transition: 0.3s;
  display: inline-block;
}

#add-todo * {
  padding: 0.6em;
  border-radius: 0.7em;
  width: 70%;
}
#add-todo {
  padding-top: 1em;
}

#input {
  font-size: 1.3em;
}
#submit {
  background-color: #27ae60;
  margin: 0.6em;
  font-size: 1.3em;
  color: white;
  text-shadow: 1px 1px 0px #313332;
  box-shadow: 1px 1px 1px #313332;
}
#submit:hover {
  background-color: #17703c;
}
.task-complete {
  text-decoration: line-through;
}
@media only screen and (min-width: 600px) {
  main {
    max-width: 30em;
    min-width: 30em;
  }
}
